.one{
    width: 300px;
    height: 300px;
    border: 3px solid;
    border-image: url(https://png.pngtree.com/thumb_back/fh260/background/20241001/pngtree-abstract-blur-of-green-leaves-image_16297326.jpg) 30 round;
    border-radius: 30px;
    background-position: right bottom, right top;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20241001/pngtree-abstract-blur-of-green-leaves-image_16297326.jpg);
    opacity: 0.8;
    position: absolute;
    top: 44px;
    left: 607px;
    box-shadow:10px 10px;
    
}
h1{
    text-align:center;
    color:rgb(1, 13, 23);
    text-shadow:4px 4px 2px black;

}
.two {
    width: 432px;
    height: 300px;
    border: 3px solid;
    border-radius: 30px;
    position: absolute;
    top: 374px;
    left: 535px;
    background-image:radial-gradient(red, pink,lightgreen);
    box-shadow:10px 10px;
}
button{
    width:100px;
    height:100px;
    background-color:red;
    rotate:30deg;
    position: absolute;
    top:100px;
    left:50px;
}
div.test {
  white-space: nowrap; 
  width: 200px; 
  overflow: hidden; 
  border: 1px solid #000000;
  text-overflow:clip;
}

div.test:hover {
  overflow: visible;
}