body{
width:500px;
height:750px;
    position:relative;
    background-image:linear-gradient( aquamarine,blue);
}
.big {
 width: 385px;
    height: 361px;
    background-color: white;
    position: absolute;
    top: 160px;
    left: 532px;
}
h1 {
    padding: 0px;
    position: absolute;
    left: 19px;
}
.p1{
    position: absolute;
    top: 83px;
    left: 26px;
    width: 316px;
}
.p2{
    position: absolute;
    top: 124px;
    left: 26px;
    width: 316px;
}
.p3{
       position: absolute;
    top: 165px;
    left: 26px;
    width: 316px;
}
.p4{
    position: absolute;
    top: 207px;
    left: 26px;
    width: 316px;
}
.p5{
 position: absolute;
    top: 249px;
    left: 26px;
    width: 316px;
}
p{
position: absolute;
    top: 286px;
    left: 19px;
}
button{
    background-color:blueviolet;
        position: absolute;
    top: 302px;
    left: 283px;
}
.plus {
 width: 36px;
    height: 22px;
    position: absolute;
    top: 83px;
    left: 314px;
    color: white;
    font-size: 18px;
    
}
.delete{
width: 39px;
    height: 22px;
    background-color: red;
    position: absolute;
    top: 164px;
    left: 311px;
    background-image: url(C:\Users\Atharv Phopse\AppData\Local\Temp\2fae0be2-31fa-4868-82db-0139cad7e7c4_Icons8.zip.7c4\icons8-delete-50.png);
}